body {
    font-family: Arial, sans-serif;
    background: #dbeafe;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #bfdbfe;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
}
.chart {
    text-align: center;
}